<div class="formularioRegistro">
  <h1>Registro de Empleados</h1>
  <form [formGroup]="personaForm" (ngSubmit)="guardarPersona()">
    <div class="form-group">
        <label>Cedula</label>
        <input type="number" formControlName="ci" maxlength="10" min="0" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Nombre</label>
      <input  type="text" formControlName="names" class="form-control" required>
      <label>Apellido</label>
      <input type="text" formControlName="surnames" class="form-control" required>
  </div>
  <div class="form-group">
    <label>email</label>
    <input type="email" formControlName="email" class="form-control"  required>
  </div>
    <button class="btn btn-success" type="submit" [disabled]="personaForm.invalid">Guardar</button>
  </form>
</div>

<div class="formularioRegistro">
  <h2>Listado de Empleados</h2><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of employers">
      <td>{{persona.idPerson}}</td>
      <td>{{persona.ci}}</td>
      <td>{{persona.names}}</td>
      <td>{{persona.surnames}}</td>
      <td>{{persona.email}}</td>
      <td>
        <button type="button" class="btn btn-danger"  (click)="eliminarPersona(persona)">Eliminar</button>
        <button type="button" class="btn btn-warning" (click)="editarPersona(persona)">Editar</button>
      </td>
    </tr>
  </tbody>
</table> 
</div><br>

<div class="formularioRegistro">
  <h2>Listado de Usuarios</h2><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">username</th>
      <th scope="col">rol</th>
      <th scope="col">userID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.idUser}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.rol}}</td>
      <td>{{usuario.userID}</td>
    </tr>
  </tbody>
</table> 
</div>

<router-outlet></router-outlet>
